/* Dylan Silk */

/* Style sheet for download.html */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: slkscr;
    src: url(../font/slkscr.ttf);
}

@font-face {
    font-family: slkscrb;
    src: url(../font/slkscrb.ttf);
}

body {
    margin: 0;
    font-family: slkscr;
    background-color: #141315;
    color: #D1D9E3;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #5A515C;
}

.navbar a {
    float: left;
    display: block;
    color: #D1D9E3;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #6A606D;
}

.downloadCol, .demonstrationCol {
    display: flex;
    flex-direction: column;
    margin: 2% 5% 2% 5%;
    background-color: #302D32;
    border-radius: 1%;
    width: 90%;
} 

.imageRow {
    flex-direction: row;
    margin: 2% 2%;
    background-color:#3E3940;
    text-align: center;
}

.downloadButton {
    color: #D1D9E3;
    border-radius: 5%;
    margin: 2% 2%;
    padding: 10px, 2px, 0px, 2px;
    font-family: slkscr;
    border: none;
    background-color:#5A515C;
    font-size: 80px;
}

.downloadButton:hover {
    background-color: #6A606D;
}

.imageContainer{
    padding:5px, 5px, 0px, 5px;
}

.downloadRow, .demonstrationRow {
    display: flex;
    flex-direction: row;
    margin: 2% 2%;
    background-color:#3E3940;
}

.installTutorial {
    text-align: center;
    background-color: #3E3940;
}

.installTutorial h1 {
    text-align: center;
}
.installTutorial ol {
    text-align: left;
}

.downloadList {
    font-size: larger;
}

.down {
    background-color: #3E3940;
}

.demonstrationRow {
    display: flex;
    justify-content: center;
    margin: 2% 2%;
    padding: 5px 5px;
    text-align: center;
}

.installTutorial a {
    color:#5A515C;
    text-align: center;
}

.installTutorial a:hover {
    color: #6A606D;
}